@charset "UTF-8";
/* CSS Document */
 body {
        font-family: lucida, arial, sans-serif;
        margin: 0;
        padding: 40px 100px;
        background-color: #eee;
    }
	
	h1 {
		font-size:25px;
	}
	h2 {
		font-size:20px;
	}
	h3 {
		font-size:18px;
	}
    .gutter-10 {
        padding:10px;
    }
    .margin-10 {
        margin: 10px;
    }
    .center {
        text-align: center;
    }
    .border-1-green {
        border:1px solid #2DB200;
        border-radius: 3px;
    }
    .border-1-red {
        border:1px solid #999;
        border-radius: 3px;
    }
    .border-3 {
        border:3px solid #fff;
    }
    .bg-light-green {
        background-color: #CFFFBF;
    }

    .bg-light-red {
        background-color: #CCC;
    }
    .shade-3 {
        box-shadow: 0 0 3px #555;
    }
    .left {
        float:left;
    }
    .flex {
        width:100%;
        max-width: 209px;
        height:auto;
    }
    .clear {
        clear:both;
    }
    .top-0 {
        margin-top:0;
    }
    #support {
        padding-bottom: 20px;
    }
    form {margin: 0}
	
	
	/* Add To Calendar form */
	#addtocal {
		background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
		height: 100%;
		left: 0;
		overflow: hidden;
		padding: 20% 25%;
		position: absolute;
		top: 0;
	}
	
	#addtocal #sec1 {
		position:relative;
		background: #ffffff;
		padding: 10% 20%;
		display: block;
    	overflow: hidden;
		padding: 1px;
		border:#ccc;
	}
	
	#addtocalBar {
		position:relative;
		background: #eee;
		display: block;
    	overflow: hidden;
		padding: 10px;
	}
	
	#addtocalBar h3 {
		width:80%;
		display:block;
		float:left;
		padding:0;
		margin:0;
	}
	
	#addtocalContent {
		display: block;
    	overflow: scroll;
		padding: 10px;
	}
	
	#addtocalClose {
		float:right;
		width: 20px;
		height: 20px;
		background:#B3AFAF;
		text-align:center;
	}
	
	form label,
	form input,
	form p,
	form button,
	form select {
		display: block;
		float: left;
		clear: both;
	}
	
	form button {
		width: 120px;
		height: 30px;
	}
	
	form input {
		margin-bottom: 15px;
	}
	
	/*  AddToCalendar end  */

    @media all and (min-width: 768px) {
        .width-25-min-scr3 {
            width:25%;
        }
    }
	
    @media all and (max-width: 767px) {
		body {
			padding: 10px 20px;
			}
        .width-50-max-scr2 {
            width:50%;
        }
        .flex {
            max-width: 150px;
        }
    }
	
    #support h3 {
        font-family: 'Patrick Hand SC', lucida, arial, sans-serif;
    }
        .footer {
            width:100%;
            background:#ccc;
            box-shadow: 0 0 5px #444;
            position: fixed;
            bottom:0;
        }
        .footer p {
            padding:5px;
            font-family: Arial;
            font-size: 10px;
            text-align: left;
            color:#666;
        }
        .footer a {
            color:#333;
            text-decoration: none;
        }

